/******************************************
/* CSS
/*******************************************/

  /* Box Model Hack */

  * {
    box-sizing: border-box;
  }

  /*Extra Normalizing*/

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--acsent-02);
  }

  h4 {
    margin: 0;
  }

  /*Font set up*/

  html {
    font-size: 62.5%;
  }

/******************************************
/* Reuse and Common Declarations
/*******************************************/

  /*Color*/

  :root {
    --dark-focus-01: #05090c9d;
    --main-02: #044B77;
    --acsent-00: #ED3B0D;
    --acsent--01: #478CB9;
    --acsent-02: #0a6197a8;
    --acsent-03: rgb(10, 97, 151, 0.6);
    --acsent-04: #e0370da1;
    --white: #FFFFFF;
    --black: hsl(0, 0%, 0%);
    --transparent: #ffffff00;
  }

  
  /*Import Fonts*/

  @font-face {
    font-family: "Roboto";
    font-style: "Bold";
    font-weight: 700;
    src: url("Fonts/Roboto-Bold.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 200;
    src: url("Fonts/Roboto-Bold.ttf");
  }

  @font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("Fonts/Montserrat-Light.ttf");
  }

  @font-face {
    font-family: "Montserrat-thin";
    font-weight: 100;
    src: url("Fonts/Montserrat-Thin.ttf");
  }

  @font-face {
    font-family: "Roboto-flex";
    font-weight: 130;
    src: url("Fonts/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
  }

  /*Font*/

  h1 {
    font-family: "Roboto";
    font-size: 14.8rem;
    font-weight: 700;
  }

  h2 {
    font-family: "Roboto";
    font-size: 6.4rem;
    font-weight: 700;
  }

  h3 {
    font-family: "Roboto";
    font-size: 4rem;
    font-weight: 700;
    margin: 2.5rem 0 2.5rem 0;
  }

  h4 {
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 700;
  }

  .tittle-page-card__nav--left a {
    font-family: "Inter";
    font-size: 1.8rem;
    font-weight: 700;
  }

  p {
    font-family: "Roboto-flex";
    font-size: 2rem;
    font-weight: 100;
    margin: 1.2rem 0;
  }

  .projects-list__ul ul li {
    font-family: "Montserrat";
    font-style: thin;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: start;
    list-style: disc;
  }

  .footer__see-more--righ a {
    font-family: "Inter";
    font-size: 3.7rem;
    color: var(--acsent-00);
  }

  span {
    font-size: 1.5rem;
  }

  footer h3 {
    font-size: 6rem;
  }

  .footer__get-in-touch--left a {
    font-family: "Inter";
    font-size: 2rem;
    color: var(--acsent-00);
    padding-left: 0.5rem;
  }

  .footer__get-in-touch--left span {
    font-family: "Inter";
    font-size: 2rem;
  }


  /*Layout*/

  html {
    overflow-x: hidden;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

   .flex-column {
    display: flex;
    flex-direction: column;
   }

/******************************************
/* LAYOUT
/*******************************************/

  /*Heaader/Tittle Page Section*/

  .tittle-page {
    display: flex;
    align-items: center;
    padding-top: 11rem;
    color: var(--acsent-02);
    height: 95%;
  }

  .tittle-page__name {
    width: 95%;
    padding-bottom: 10rem;
  }

  .tittle-page-card {
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: var(--dark-focus-01);
    height: 75%;
    width: 100%;
  }

  .tittle-page-card__body {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    height: 100%;
    width: min(100%, 1420px);
  }

  .tittle-page-card__nav {
    border-bottom: 2.5px solid var(--acsent-00);
    
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    width: 100%;
  }

  .tittle-page-card__nav > ul li {
    display: flex;
    justify-content: space-around;
  }

  .tittle-page-card__nav ul {

    display: flex;
    justify-content: space-between;
  }
  
  .tittle-page-card__nav--right {
    display: flex;
    justify-content: flex-end;
  }

  .tittle-page-card__nav--right img {
    margin: 0 0.5rem 0.6rem 0.5rem;
  }

  .tittle-page-card__nav--left li{
    padding: 0 2rem;
  }

    /*Menu Toggle*/

    .mobile-nav-toggle__div {
      display: none;
    }



  /*Demo-Reel Section*/

  .demo-reel {
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: max(110vh, auto);
    padding: 30vh 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6921296296296297) 6%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 87%, rgba(0,0,0,0.5277777777777778) 96%, rgba(0,0,0,0) 100%);
  }

  .responsive-iframe {
    width: min(95%, 1280px);
    aspect-ratio: 16/9;
    z-index: 100;
  }  

  /*Big Parallax*/

  body {
    background-color: black;
  }

  .parallax-02 {
    width: 100vw;
    z-index: -2;
    right: 0;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  
  .parallax-01 {
    position: absolute;
    background-image: url("Img/Cloud__Upside-down_TittleBg\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
    min-width: 1700px;
    width: max(130%, 1700px);
  }


  .container {
    /* background-color: rgba(255, 0, 0, 0.281); */

    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 80rem;
    position: absolute;
    max-height: 5000px;
   }

  /*About Me Section*/

  .about-me__Wrap {
    /* border: 2px solid orange; */

    margin-top: 11rem;
    height: min(150vh,1250px);
    width: 100%;
  }

  .about-me {
    /* border: 2px solid blue; */
    
    display: flex;
    margin: 0 auto;
    color: var(--white);
    max-width: 1220px;
    max-height: 2000px;
    justify-content: flex-end;
  }

  .project__accent{
    color: var(--acsent-00);
    font-size: 1.8rem;
  }

  .about-me-body {
    /* border: 2px solid red; */

    position: relative;
    z-index: -1px;
    margin: 15rem 5rem;
    height: auto;
    min-height: 510px;
    width: min(100%,525px);
    border-radius: 55px;
    background: radial-gradient( var(--acsent-03) 5%, var(--acsent-03) 20%);
    box-shadow: 0 0 40px 40px var(--acsent-03) ;
  }

  .about-me-body h3 {
    text-align: center;
    margin: 1rem;
  }

  /*Projects Section*/

  .projects {
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 80rem;
    z-index: -100;
    padding-bottom: 5rem;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--acsent-03) 10%,var(--acsent-03) 100%);
    color: var(--white);
    text-align: center;
  }

  .projects-list ul {
    /* border: 2px solid green; */

    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 2rem;
  }

  .projects-list__li--card img {
    border-radius: 80px;
  }

  .projects-list__ul>li>a {
    color: var(--white);
  }

  .projects-list ul div {
    /* background-color: rebeccapurple; */

    width: 200px;
  }

  .projects-list__ul > li {
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    width: 265px;
    height: 370px;
    padding: 1rem;
    flex-shrink: 0;
    background-color: black;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .projects-list img {
    width: 12rem;
    margin: 2rem;
  }

  /*Footer*/

  footer {
    /* border: 2px solid red; */

    position: absolute;
    margin-top: auto;
    width: 100%;
    z-index: 9999px;
    color: var(--acsent-02);
    background: linear-gradient(180deg, var(--acsent-03) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 100%);
    height: 100vh;
  }

  footer>div {
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
  }

  footer>div > div{
    margin: 25rem 7rem;
  }

  .footer__see-more--righ {
    text-align: end;
  }



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*Scrolling Styling*/

html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}


/*Tittle Section*/

  /*Hoever  Nav Option*/

  .tittle-page-card__nav--left > li > a:hover{
    color: var(--acsent-00);
  }

/*Project display*/

.projects-list__li--card {
  transition: 0.15s;
}

.projects-list__li--card img {
  transition: 0.15s;
}

.projects-list__li--card:hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 0 20px 2px  var(--focus-clr);
  background-color: var(--acsent-04);
  filter: drop-shadow(0 0 5rem var(--acsent-00));
}

.projects-list__li--card:hover img {
  border-radius: 0;
}

.projects-list__li--card:hover .project__accent {
  color: rgb(25, 25, 163);
}



/******************************************
/* Responsive
/*******************************************/




@media (max-width:635px) {

/*Header*/


.mobile-nav-toggle__div {
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  width: 100%;
  padding: 2.5rem;
  position: fixed;
}

.mobile-nav-toggle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: var(--acsent-00);
}


    /*Menu Toggle*/

  
.mobile-nav-toggle{
  display: block;
  position: absolute;
  /* width: 3rem; */
  z-index: 9999;
  background-image: url(Img/Hamburger-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  /* background-color: transparent; */
  /* aspect-ratio: 1; */
  /* top: 2.5rem;  */
  /* right: 3vw; */
}

.nav-body{
  display: block;
  height: auto ;
  z-index: 1000;
  background-color: var(--main-clr-01);

  transform: translateY(-100%);
  transition: transform 350ms ease-out;
}

.nav-body[data-visible="true"]{
  transform: translateY(0%);
}

.nav-body li a{
  opacity: 0;

  transition: opacity 450ms ease-in;
}

.nav-body[data-visible="true"] li a{
  opacity: 1;
}

.mobile-nav-toggle[aria-expanded="true"]{
  background-image:url(assets/img/Icons/menu_X.svg) ;
  top: 3.2rem; 
  right: 1.8vw;
}
  

  /*About Me*/

  .about-me__Wrap {
    height: auto;
  }


}

@media (max-height:635px) {

  /*About Me*/

  .about-me__Wrap {
    height: auto;
  }
}


 /******************************************
/* Accesscibilety
/*******************************************/

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}