/******************************************
/* CSS
/*******************************************/

  /* Box Model Hack */

  *{
    box-sizing: border-box;
  }

  /*Extra Normalizing*/

  li{
    list-style: none;
  }

  ul{
    padding: 0;
    margin: 0;
  }

  a{
    text-decoration: none;
  }

/******************************************
/* Reuse and Common Declarations
/*******************************************/

  /*Color*/

  /*Font*/

  /*Layout*/

  .flex-row{
    display: flex;
    flex-direction: row;
  }

   .flex-column{
    display: flex;
    flex-direction: column;
   }

/******************************************
/* LAYOUT
/*******************************************/

  /*Heaader/Tittle Page Section*/

  .tittle-page{
    border: 2px solid blue;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .tittle-page-card{
    border: 2px solid green; 
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
  }

  /*Demo-Reel Section*/

  .demor-reel{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 110vh;
  }

  .demor-reel iframe{
    width: 75%;
    aspect-ratio: 16/9;
  }  

  /*About Me Section*/

  .about-me{
    position: relative;
    width: min(44.8%,645px);
    min-width: 350px;
  }

  .about-me h3{
    text-align: center;
  }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
