/******************************************
/* CSS
/*******************************************/

  /* Box Model Hack */

  * {
    box-sizing: border-box;
  }

  /*Extra Normalizing*/

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  /*Font set up*/

  html {
    font-size: 62.5%;
  }

/******************************************
/* Reuse and Common Declarations
/*******************************************/

  /*Color*/

  
  /*Import Fonts*/

  @font-face {
    font-family: "Roboto";
    font-style: "Bold";
    font-weight: 700;
    src: url("Fonts/Roboto-Bold.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 200;
    src: url("Fonts/Roboto-Bold.ttf");
  }

  /*Font*/

  h1 {
    font-family: "Roboto";
    font-size: 14.8rem;
    font-weight: 700;
  }

  h2 {
    font-family: "Roboto";
    font-size: 6.4rem;
    font-weight: 700;
  }

  h3 {
    font-family: "Roboto";
    font-size: 4rem;
    font-weight: 700;
  }

  h4 {
    font-family: "Roboto";
    font-size: 2.4rem;
    font-weight: 700;
  }

  .tittle-page-card__nav--left a {
    font-family: "Inter";
    font-size: 1.6rem;
    font-weight: 700;
  }

  p {
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 700;
  }

  /*Layout*/

  .flex-row {
    display: flex;
    flex-direction: row;
  }

   .flex-column {
    display: flex;
    flex-direction: column;
   }

/******************************************
/* LAYOUT
/*******************************************/

  /*Heaader/Tittle Page Section*/

  .tittle-page {
    border: 2px solid blue;

    display: flex;
    align-items: center;
    height: 95vh;
  }

  .tittle-page-card {
    border: 2px solid green; 

    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 100%;
    /* padding: 7rem; */
  }
  
  .tittle-page-card__nav {
    border-bottom: 2.5px solid ;
    display: flex;
    justify-content: space-between;
    /* padding: 0 3rem; */
    /* height: 20px; */
    width: 100%;
  }

  .tittle-page-card__nav > ul li {
    display: flex;
    justify-content: space-around;
  }

  .tittle-page-card__nav ul {
    display: flex;
    justify-content: space-between;
  }
  
  .tittle-page-card__nav--right {
    width: 15%;
  }

  .tittle-page-card__nav--left {
    width: 35%;
  }

  /*Demo-Reel Section*/

  .demor-reel {
    border: 2px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
    height: max(110vh, auto);
    padding: 30vh 0;
  }

  .demor-reel iframe {
    width: min(95%, 1280px);
    aspect-ratio: 16/9;
  }  

  /*About Me Section*/

  .about-me {
    border: 2px solid blue;
    background-color: red;

    display: flex;
    height: 800px;
    justify-content: flex-end;
  }

  .about-me-body {
    border: 2px solid green;

    height: 300px;
    margin: 15rem 10rem;
    padding: 2rem;
    width: min(100%,350px);
  }

  .about-me-body h3 {
    text-align: center;
  }

  /*Projects Section*/

  .projects {
    border: 2px solid red;

    height: max(500px, fit-content);
    margin: 5rem;
    text-align: center;
  }

  .projects-list ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 5rem;
  }

  .projects-list li {
    border: 2px solid green;

    display: flex;
    border-radius: 55px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    width: 220px;
  }

  /*Footer*/

  footer {
    border: 2px solid blue;

    justify-content: space-between;
    height: 800px;
  }

  footer div {
    margin: 25rem 7rem;
  }

  .footer__see-more--righ {
    text-align: end;
  }



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
